# Entorno virtual
venv/

# Variables de entorno
.env

# Base de datos
db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db